.postBarContainer {
	background-color: #B19F9E;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.5rem;
}

.postBarItems {
	display: flex;
	align-items: center;
	padding: 0.3rem;
}

.avatar {
	height: 1.8rem;
	width: 1.8rem;
	margin-left: 0.2rem;
	border: 0.2rem solid white;
}

.postBarInput {
	margin-left: 0.2rem;
	width: 16rem;
	border-color: transparent;
	background-color: white;
	border-radius: 2rem;
}

.postBarIcon {
	display: flex;
	align-items: center;
	margin-right: 0.3rem;
}

.postBarIconItem {
	color: white;
	cursor: pointer;
}

.postBarIconText {
	font-size: 0.6rem;
	cursor: pointer;
	color: white;
}

.buttonConatiner {
	width: 10px;
}
