.contactContainer {
	background-color: #b19f9e;
	border-radius: 1rem;
}

.contactHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
}

.contactHeaderText {
	font-size: 1rem;
}

.contactItemListContainer {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	align-items: flex-start;
	justify-content: space-between;
	list-style: none;
}

.contactListItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 2.5rem;
	padding: 0.4rem;
	color: white;
}

.contactItemListContainer :hover {
	color: white;
}

.contactName {
	font-size: 1rem;
	margin-left: 0.5rem;
}

.avatar {
	border: 0.2rem solid white;
}