.fragment {
	background-color: #A16E83;
	color: white;
}


.main {
	margin: 0 auto;
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.middleContainer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.rightContainer {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
